# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
eggs/
.eggs/
*.egg-info/
*.egg

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
